*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    line-height: 1.8;
    overflow-x: hidden;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    
    
}



.header-box{
    background-image: url(img/header.png);
    background-size: cover;
    height: 597px;
    width: 100%;
}

.logo{
    position: relative;
    left: 30px;
    top: 400px;

}

.header, .header-li a{
    list-style: none;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 0px 80px;
    margin-top: 25px;
    
}



  
main {
    display: flex;
    flex-wrap: wrap;
    
  }
/*container1*/

.container1{
    display: flex;
    justify-content: space-between;
}
  .box1,
  .box2 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
  }

  .box1 img,
  .box2 img{
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    margin-left: 20px;

  }

  .box1 h1, h3, .box2 h1, h3 {
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  
  .box1 p, .box2 p {
    text-align: center;
    font-size: 18px;
    flex-direction: column;
    color: white;
  }


  

  /*CONTAINER2*/

.container2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.box3,
.box4,
.box5 {
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 45PX;
  
}

.box3 img,
.box4 img,
.box5 img {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  margin-left: 20px;
}

.box3 h2, .box4 h2, .box5 h2, h3{
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  
  .box3 p, .box4 p, .box5 p{
    text-align: center;
    font-size: 18px;
    flex-direction: column;
    color: white;
  }


  /*CONTAINER 3*/
  .container3 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .box6, .box7, .box8, .box9 {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .box6 img, .box7 img, .box8 img, .box9 img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    flex-direction: column;
  }
  
  .box6 h4, .box7 h4, .box8 h4, .box9 h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  .box6 h5, .box7 h5, .box8 h5, .box9 h5 {
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  
  .box6 p, .box7 p, .box8 p, .box9 p {
    text-align: center;
    font-size: 18px;
    flex-direction: column;
    color: white;
  }


 
  

  /*container4*/ 
  .box10{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    
    
   }
 
   .box10{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    
   }
 
   .box10 img{
     width: 733px;
     height: 489px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     
   }
   
   .box10, h1 p{
     font-size: 25px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column10{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 100px;
     
     
 }
/*-----------*/
.box11{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 40px;
    
   }
 
   .box11 img{
     width: 733px;
     height: 489px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     
   }
   
   .box11, h1 p{
     font-size: 25px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column11{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 100px;
     
     
 }


/*-------------------exhibition page------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }*/
  
  .box12{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 45px;
   }
 
   .box12 img{
     width: 600px;
     height: 615px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     margin-left: 50px;
     
   }
   
   .box12, h1 p{
     font-size: 20px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column12{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 100px;
     
     
 }

.container6{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 50px;
}

.box13 img{
    width: 0, auto;
    height: auto;
    border-radius: 40px;
    margin-left: 60px;
    
    
}

.box13, h1 p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    
    
  }
.text-column13{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 90px;
    margin-top: 25px;
     

    /*container7*/
     
 }.container7{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 50px;
    margin-right: 50px;
    justify-content: center;
}

.box14 img{
    width: 1554px;
    height: auto;
    border-radius: 40px;
    margin-left: 190px;
    
    
}

.box14, h1 p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    
    
  }
.text-column14{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 90px;
    margin-top: 25px;
     
     
 } 


 /*---------explore page--------------*/



 .box15{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 45px;
   }
 
   .box15 img{
     width: 644px;
     height: 375px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     margin-left: 50px;
     
   }
   
   .box15, h1 p{
     font-size: 20px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column15{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 100px;
     
     
 }

 .box16{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 45px;
   }
 
   .box16 img{
     width: 498px;
     height: 646px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     margin-left: 50px;
     
   }
   
   .box16, h1 p{
     font-size: 20px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column16{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 100px;
     
     
 }

 .box17{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 100px;
    margin-top: 45px;
   }
 
   .box17 img{
     width: 458px;
     height: 589px;
     border-radius: 40px;
     display: flex;
     margin-bottom: 45px;
     margin-top: 45px;
     margin-left: 50px;
     
   }
   
   .box17, h1 p{
     font-size: 20px;
     display: flex;
     justify-content: center;
     color: white;
     
   }
  
   .text-column17{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 100px;
     
     
 }

  .container8{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 50px;
    margin-right: 50px;
    justify-content: center;
}

.box18 img{
    width: 1554px;
    height: auto;
    border-radius: 40px;
    margin-left: 190px;
    
    
}

.box18, h1 p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    
    
  }
.text-column18{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 90px;
    margin-top: 25px;
     
     
 } 

 .forkids-h{
    color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
 }

 /*FOOTER*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-logo{
    position: relative;
    left: 700px;
    top: 50px;
    margin: auto;

}

.container{
    max-width: cover;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-box{
    background-color: #1f1f1f ;
    padding: 70px;
    display: flow-root;
}

.footer-col{
    width: 30%;
    text-align: center;
    padding: 0 15px;
    color: white;
    line-height: 3;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
    
}

