

/*Css page*/

/* page reset*/

body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


/*header box*/

#header-box{
    background-size: cover;
    height: 597px;
    background-image: url("img/header.png");
    background-repeat: no-repeat;
    margin: auto;
}

/*logo*/

#logo{
    position: relative;
    left: 30px;
    top: 430px;
    margin: auto;
}

ul, li a{
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 95px;
    display: inline-flex;

    
    
}


/*icerik*/
/*index page*/
#index{
    box-sizing: content-box;
    width: 100%;
    min-height: 100vh;
    color: white;
    margin: auto;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;

}

article.museum-img{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

article img, article.museum-img{
    width: 100%;
    border-radius: 40px;
    margin: 20px;

}


