@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url(./_reset.css);
@import url(./_variables.css);



body{
    margin: 0;
    padding: 0;

}


header{
background-color: #f8f8f8;
background-image: url(../../assets/images/headerr.jpg);
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
padding: 20px;
text-align: center;
background-position: 0% 30%;
padding-top: 10rem;
padding-bottom: 10rem;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;    background-color: #000000;
    position: relative;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  nav li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav li a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
h1{
    color: red;
}

.logo-box{
    position: absolute;
    left: 50px;
    top: 240px;    
}
